<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>User List</title>
</head>
<th:block layout:fragment="breadcrumb">
    <h1> Post List</h1>
</th:block>
<div layout:fragment="page_content" id="page_content">
    <div>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Desc</th>
            </tr>
            <tr th:each="post : ${pages}">
                <td th:text="${post.postTitle}"></td>
                <td th:text="${post.author.name}"></td>
                <td th:text="${post.description}"></td>
            </tr>
        </table>
    </div>
    <div class="row">

    </div>
</div>


