<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>Reg</title>
</head>
<th:block layout:fragment="breadcrumb">
    <h1>Add User</h1>
</th:block>
<div layout:fragment="page_content" id="page_content">

    <form action="#" th:action="@{/addUser}" enctype="multipart/form-data" th:object="${user}" method="post">

        <table>
            <tr>
                <th align="right">Name:</th>
                <td>
                    <input type="text" th:field="*{name}"/>
                </td>
                <td>
                    <label style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid</label>
                </td>
            </tr>
            <tr>
                <th align="right">User Name:</th>
                <td>
                    <input type="text" th:field="*{userName}"/>
                </td>
                <td>
                    <label style="color:red" th:if="${#fields.hasErrors('userName')}"
                           th:errors="*{userName}">Invalid</label>
                </td>
            </tr>
            <tr>
                <th align="right">Email :</th>
                <td>
                    <input type="text" th:field="*{email}"/>
                </td>
                <td>
                    <label style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid</label>
                </td>
            </tr>
            <tr>
                <th align="right">Password:</th>
                <td>
                    <input type="password" th:field="*{password}"/>
                </td>
                <td>
                    <label style="color:red" th:if="${#fields.hasErrors('password')}"
                           th:errors="*{password}">Invalid</label>
                </td>
            </tr>
            <tr>
                <th align="right">Roles :</th>
                <td>
        <span th:each="checkboxValue: ${userRoles}">
            <input type="checkbox" th:field="*{userRoles}" th:value="${checkboxValue}"/>
            <label th:for="${#ids.prev('userRoles')}" th:text="${checkboxValue}"/>
        </span>
                </td>
            </tr>

            <tr>
                <th align="right">Image :</th>
                <td>
                    <input type="file" th:field="*{pic}"/>
                </td>
                <td>
                    <label style="color:red" th:if="${#fields.hasErrors('pic')}" th:errors="*{pic}">Invalid</label>
                </td>
            </tr>

            <tr>
                <th></th>
                <td>
                    <input class="btn btn-default center" type="submit" name="save" value="register">
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
<th:block layout:fragment="scripts">
    <script type="text/javascript">
    </script>
</th:block>