<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>User List</title>
</head>
<th:block layout:fragment="breadcrumb">
    <h1> User List</h1>
</th:block>
<div layout:fragment="page_content" id="page_content">
    <div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Image</th>
                <!--<th>&nbsp;</th>-->
                <th>&nbsp;</th>
            </tr>
            <tr th:each="user : ${pages}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <!--<table class="table">-->
                    <!--<div class="panel panel-default">-->
                        <div class="panel panel-success" th:each="row,rowStat : ${user.userRoleSet}">
                            <p th:text="${row.userRoles}"></p>
                        </div>
                    <!--</div>-->
                    <!--</table>-->
                </td>
                <td>
                    <img width="140px" height="140px" th:src="@{'/images/'+ ${user.picLocation}}"/>
                </td>

                <!--<td>-->

                <!--<a th:href="@{/userList(edit=${user.id})}">edit</a>-->

                <!--&lt;!&ndash;<button type="submit" name="editRow" th:value="${user.id}">&ndash;&gt;-->
                <!--&lt;!&ndash;edit&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                <!--</td>-->

                <td>
                    <a th:href="@{/userList(remove=${user.id})}">delete</a>
                    <!--<button type="submit" name="removeRow" th:value="${user.id}">-->
                    <!--delete-->
                    <!--</button>-->
                </td>

            </tr>
        </table>
    </div>
    <div class="row">
        <!--<div class="form-group col-md-1">-->
            <!--<select class="form-control pagination" id="pageSizeSelect">-->
                <!--<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"-->
                        <!--th:selected="${pageSize} == ${selectedPageSize}"></option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div th:if="${users.totalPages != 1}" class="form-group col-md-11 pagination-centered">-->
        <!--<ul class="pagination">-->
        <!--<li th:class="${users.number == 0} ? disabled">-->
        <!--<a class="pageLink" th:href="@{/userList(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>-->
        <!--</li>-->
        <!--<li th:class="${users.number == 0} ? disabled">-->
        <!--<a class="pageLink" th:href="@{/userList(pageSize=${selectedPageSize}, page=${users.number})}">&larr;</a>-->
        <!--</li>-->
        <!--<li th:class="${users.number == (page - 1)} ? 'active pointer-disabled'"-->
        <!--th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">-->
        <!--<a class="pageLink" th:href="@{/userList(pageSize=${selectedPageSize}, page=${page})}"-->
        <!--th:text="${page}"></a>-->
        <!--</li>-->
        <!--<li th:class="${users.number + 1 == users.totalPages} ? disabled">-->
        <!--<a class="pageLink"-->
        <!--th:href="@{/userList(pageSize=${selectedPageSize}, page=${users.number + 2})}">&rarr;</a>-->
        <!--</li>-->
        <!--<li th:class="${users.number + 1 == users.totalPages} ? disabled">-->
        <!--<a class="pageLink"-->
        <!--th:href="@{/userList(pageSize=${selectedPageSize}, page=${users.totalPages})}">&raquo;</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->


        <!--<span th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">-->
        <!--<span th:with="currentUrl=(${#httpServletRequest.requestURI + '?' + #strings.defaultString(#httpServletRequest.queryString, '')})">-->

        <!--<span th:with="currentUrl=(${#httpServletRequest.requestURI})">-->

        <!--<div th:if="${users.totalPages != 1}" class="form-group col-md-11 pagination-centered">-->
            <!--<ul class="pagination">-->
                <!--<li th:class="${users.number == 0} ? disabled">-->
                    <!--<a class="pageLink" th:href="@{${currentUrl}(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>-->
                <!--</li>-->
                <!--<li th:class="${users.number == 0} ? disabled">-->
                    <!--<a class="pageLink" th:href="@{${currentUrl}(pageSize=${selectedPageSize}, page=${users.number})}">&larr;</a>-->
                <!--</li>-->
                <!--<li th:class="${users.number == (page - 1)} ? 'active pointer-disabled'"-->
                    <!--th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">-->
                    <!--<a class="pageLink" th:href="@{${currentUrl}(pageSize=${selectedPageSize}, page=${page})}"-->
                       <!--th:text="${page}"></a>-->
                <!--</li>-->
                <!--<li th:class="${users.number + 1 == users.totalPages} ? disabled">-->
                    <!--<a class="pageLink"-->
                       <!--th:href="@{${currentUrl}(pageSize=${selectedPageSize}, page=${users.number + 2})}">&rarr;</a>-->
                <!--</li>-->
                <!--<li th:class="${users.number + 1 == users.totalPages} ? disabled">-->
                    <!--<a class="pageLink"-->
                       <!--th:href="@{${currentUrl}(pageSize=${selectedPageSize}, page=${users.totalPages})}">&raquo;</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->

        <!--</span>-->


    </div>
</div>


